<div id="page_wrapper">


<div class="top_nav">
		<ul>
				<li class="blog">

				<%= link_to "blog", posts_path %>
				
				</li>
				<li class="design"><%= link_to "design", design_path %></li>
				<li class="music"><%= link_to "music", music_path %></li>
				<li class="other"><%= link_to "other", other_path %></li>

		</ul>
</div>
<br>
<br>
<div id="about_content">
	<h1>Hey! I'm Zach.</h1>
	<br>
	I'm blessed to call Nashville, TN home with my wife and son.<br>
	I work for Dave Ramsey as a designer.<br>
	I started a social media network called Entersquare.<br>
	I've been playing music since I was a youngin'.<br>
	I like to talk about design, music, social media, and building stuff!<br><br><br>
	
	<a href="mailto:zach@zachford.me" target="_top">Contact me if you would like to collaborate, talk about business things or just grab a coffee!</a>

</div>

