<div id="page_wrapper">

<div id="content">
	<h1>Hey! I'm Zach and I love to build stuff.</h1>
	<p>My family is blessed to call Nashville, TN home.</p>
	<p>I'm all about design, music, social media, and like I said before, building stuff! I'd love for you to stick around!</p>
	<button class="button">Sign up for my Newsletter</button>
</div>

