<div id="page_wrapper">


<div class="top_nav">
		<ul>
				<li class="blog">

				<%= link_to "blog", posts_path %>
				
				</li>
				<li class="design"><%= link_to "design", design_path %></li>
				<li class="music"><%= link_to "music", music_path %></li>
				<li class="other"><%= link_to "other", other_path %></li>

		</ul>
</div>
<br>
<br>
<div id="content">
	<h1>Here is what I've been working on:</h1>
	<p>projects projects</p>

	<button class="button">Sign up for my Newsletter</button>
</div>

