
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';
@import 'mininav';
@import 'socialfooter';
@import 'work';

html, body {
	font-family: 'Futura', sans-serif;
	color: #505050;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

a {
	text-decoration: none;
	color: inherit;
}






.home_header {
  margin: 0 auto;
	text-align: center;
	transition: all .4s ease;
					&:hover {

				transform: scale(1.2);
						
	}


	a {
							
		font-size: 5em;
		color: #D6D6D6;
				transition: all .4s ease;
				&:hover {
				transform: scale(1.9);
						
	}
}
}

.home_header span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}



/*
.home_header :before{
		content: 'ZACH FORD';

}


.home_header a:hover :before {
		position: relative;
		display: none;


}

.home_header:hover  :after{
    content: 'WHO I AM';
 a {

				transition: all .3s ease-in;
				&:hover {
				color: #FFFFFF;
	 }
	}
}
*/

#zach_header {
	text-align: center;
		transition: all .2s ease;
		&:hover {

				transform: scale(1.2);
						
	}


	a {
		padding-top: 50px;
		font-size: 2em;
		color: #D6D6D6;
	}
}



.linebreak {
				width: 70%;
				margin: 0 auto;
				border-bottom: 1px solid #d6dce0;
				padding-top: 2em;

			}


p.date {

	color: #D6D6D6;
	text-align: center;
 font-size: .8em;
}




.home_nav {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	float: left;
	clear: both;
	padding: 4em 0 0 0;


	ul {
		display: inline-block;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
		text-align: center;

			li.blog {
				background: #656C75;
					transition: all .5s ease;
					&:hover {
					transform: scale(1.2);
					opacity: 0.6;
			}	
		}

			li.work {
			background: #AFB8BE;
				transition: all .5s ease;
				&:hover {
				transform: scale(1.2);
				opacity: 0.6;
				}
		}

			li.music {
			background: #A6D8E8;
				transition: all .5s ease;
				&:hover {
				transform: scale(1.2);
				opacity: 0.6;
				}
		}
	
			li.other {
			background: #64C6E6;
				transition: all .5s ease;
				&:hover {
				transform: scale(1.2);
				opacity: 0.6;
				}
		}

		li {

    float: left;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 95px;
    text-align: center;
    background: #000;
    margin: 30px;
		

	

			a {
			display: block;
			margin: 0 auto;
    	color: #ffffff;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: #FFFFFF;
				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 150px;
  height: 70px;
  width: 70px;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}






	#header {
		padding: 1em 3em;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}

				.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}

#main_content {


	.post_wrapper {
		text-align: center;
		padding-top: 2.5em;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #656c75;
				font-size: 1.5em;
				&:hover {
					transition: all .3s ease;
					color: #D6D6D6;
				}
			}
		}
		.date_and_author {
			color: #D6D6D6;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			text-align: center;
			font-weight: 500;
			text-decoration: none;
			color: #505050;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #D6D6D6;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {

		padding-top: 2.7em;
		padding-right: 6.7em;
		padding-left: 6.7em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				text-align: center;
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #D6D6D6;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}

			#about_content {

				text-align: center;

			h1 {
				text-align: center;
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {

				color: #64c6e6;
				font-size: 15px;
				text-decoration: none;
				transition: all .2s ease;
				&:hover {
				font-size: 17px;
				transform: scale(1.9);
						
				}
			}
		}
	}


	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
